* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;

  border-bottom: 2px solid rgb(132, 39, 39);
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: black;
}

.hero {
  text-align: center;
  padding: 60px;
}

.content{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
}



.projects,
.experience,
.education{
    min-height: 350px;
    padding: 20px;
}



.projects,

.experience{
    border-right: 2px solid rgb(148, 25, 25);

}



.project-item{
  

   padding: 12px 0;
    border-bottom: 1px solid black;
    width: 100%;
    }
    .project-item:last-child{
    border-bottom: none;
    }
  


.opensource{
    margin-top: 20px;

    padding-top: 20px;

    border-top: 2px solid black;
}

.experience a{
    display: inline-block;

    margin-top: 10px;
}



.education ul{
    margin-top: 10px;

    padding-left: 20px;
}

.education li{
    margin-top: 5px;
}

.card {
  flex: 1;

  border: 1px solid black;

  padding: 20px;
}

.reviews {
  padding: 40px;

  border-top: 1px solid black;
  width: 400px;
 
  
}

.review-container {
  display: flex;
  text-align: center;
  
  gap: 20px;
  justify-content: space-between;
  gap: 520px;
  padding: 20px;
 

  margin-top: 20px;
}

.review {
 
 

  border: 2px solid black;
  border-radius: 20px;

  padding: 20px;
  font-size: 7px;
 

}

footer {
  text-align: center;
  padding: 30px;
}